<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card> 
      <ion-img src="https://www.canon.co.nz/-/media/new-zealand/stories/rach-stewart/rach-stewart-9-relected-lake-sunset.ashx?la=en-nz"></ion-img>
        <ion-card-header>
          <ion-card-title>About this app</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
         I've created this app for practicing purposes . Enjoy it! <ion-icon name="heart" color="danger"></ion-icon>
        </ion-card-content>
     
        <ion-button fill="clear" color="primary" (click)="presentActionSheet()">
            <ion-icon name="share-alt"></ion-icon>
            Share
          </ion-button>
       
      </ion-card>
</ion-content>
