ion-img{
    width:70%;
} 
.slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }
  ion-slide{
      display: flex;
      flex-direction: column;
  }
  ion-button{
    margin-top: 128px;
  }