<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <button mat-button>Click me!</button>
    <button mat-button (click)="getD()">GetData!</button>
    <ion-list *ngIf="data">
      <ion-item   *ngFor="let item of data">
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-list>
<br>
<ion-button (click)="presentAlert()">Show</ion-button>
<br>

  </div>
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
