<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionChange)="search()" animated=true [(ngModel)]="searchInput"></ion-searchbar>
<ion-grid>

<ion-row>
  <ion-col>
    <button mat-button (click)="getD()">GetData!</button>
    <ion-list *ngIf="data">
      <ion-item *ngFor="let item of data">
        <ion-avatar class="ion-margin">
          <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-512.png">
        </ion-avatar>
        <ion-label padding>{{item.name | titlecase}}</ion-label>
      </ion-item>
    </ion-list>
    <br>
    <ion-button (click)="presentAlert()">Show</ion-button>
    <br>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>